.mat-paginator {
  display: inline;
}

.mat-column-departureAirportCandidatesCount{
  text-align: center;
}

.mat-column-estDepartureAirport{
  text-align: center;
}

.mat-column-estArrivalAirport{
  text-align: center;
}

.mat-column-arrivalAirportCandidatesCount{
  text-align: center;
}
